<h1>Add Customer</h1>

<form method="post" action="/customerAdded">
    <p>ID number: </p> 
    <input type="text" name="customerID">
    <p>Name: </p> 
    <input type="text" name="customerName">
    <p>Address: </p> 
    <input type="text" name="address">
    <p>Postal Address: </p> 
    <input type="text" name="postalAddress">
    <p>Phone Number: </p> 
    <input type="text" name="phoneNumber">
    </br>
    </br>
    <input type="submit" value="Add">
</form>
<form method="post" action="/customersIndex">
    <input type="submit" value="Customers">
</form>