<h1>Car successfully added!</h1>

<form method="post" action="/carsIndex">
    <input type="submit" value="OK">
</form>
<form method="post" action="/"> 
  <input type="submit" value="Main Menu"> 
</form>