<h1>Car successfully checked in!</h1>

<form method="post" action="/carsIndex">
    <input type="submit" value="Car Index">
</form>
<form method="post" action="/"> 
  <input type="submit" value="Main Menu"> 
</form>

{#
  Sidan visas som bekräftelse när man har checkat in en bil.
#}