<h1>Car successfully checked out!</h1>

<form method="post" action="/carsIndex">
    <input type="submit" value="Car Index">
</form>
<form method="post" action="/"> 
  <input type="submit" value="Main Menu"> 
</form>