<h1>Customer successfully added!</h1>

<form method="post" action="/customersIndex">
    <input type="submit" value="OK">
</form>
<form method="post" action="/"> 
  <input type="submit" value="Main Menu"> 
</form>