<h1>Customer successfully deleted!</h1>

<form method="post" action="/customersIndex">
    <input type="submit" value="OK">
</form>
<form method="post" action="/"> 
  <input type="submit" value="Main Menu"> 
</form>

{#
  Sidan visas som bekräftelse när man har raderat en kund.
#}