<h1>Car Renter</h1> 
<p> 
<form method="post" action="/customersIndex"> 
  <input type="submit" value="Customers"> 
</form> 
<p>
<form method="post" action="/carsIndex"> 
  <input type="submit" value="Cars"> 
</form> 
<p>
<form method="post" action="/carCheckOut"> 
  <input type="submit" value="Car Check Out"> 
</form> 
<p>
<form method="post" action="/carCheckIn"> 
  <input type="submit" value="Car Check In"> 
</form> 
<p>
<form method="post" action="/history"> 
  <input type="submit" value="History"> 
</form> 

{#
Startsida
#}